In [1]:
#Import dependencies
import pandas as pd
import glob
import os

### Import & Cleanse Wildfire Data

In [2]:
#  Import and read the Wildfire CSV.
wildfire_df = pd.read_csv("Resources/California_Fire_Incidents.csv")
wildfire_df.head()

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0

In [3]:
#Drop excess columns
wildfire_df = wildfire_df.drop(['Active','AdminUnit','AirTankers','CalFireIncident','CanonicalUrl',
                                'ConditionStatement','ControlStatement','Dozers','Engines','Extinguished',
                                'Featured','Final','FuelType','Helicopters','Injuries','Location',
                                'MajorIncident','PercentContained','Public','SearchDescription','SearchKeywords',
                                'Status','StructuresEvacuated','StructuresThreatened','Updated','WaterTenders'],1)
wildfire_df.head()

,AcresBurned,ArchiveYear,Counties,CountyIds,CrewsInvolved,Fatalities,Latitude,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,UniqueId
0,257314.0,2013,Tuolumne,55,NaN,NaN,37.857000,-120.086000,Rim Fire,NaN,2013-08-17T15:25:00Z,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78
1,30274.0,2013,Los Angeles,19,NaN,NaN,34.585595,-118.423176,Powerhouse Fire,NaN,2013-05-30T15:28:00Z,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87
2,27531.0,2013,Riverside,33,NaN,NaN,33.709500,-116.728850,Mountain Fire,NaN,2013-07-15T13:43:00Z,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db
3,27440.0,2013,Placer,31,NaN,NaN,39.120000,-120.650000,American Fire,NaN,2013-08-10T16:30:00Z,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625
4,24251.0,2013,Ventura,56,47.0,NaN,0.000000,0.000000,Springs Fire,2167.0,2013-05-02T07:01:00Z,6.0,10.0,46731fb8-3350-4920-bdf7-910ac0eb715c

In [4]:
#Confirm datatypes for each column
wildfire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AcresBurned          1633 non-null   float64
 1   ArchiveYear          1636 non-null   int64
 2   Counties             1636 non-null   object
 3   CountyIds            1636 non-null   object
 4   CrewsInvolved        171 non-null    float64
 5   Fatalities           21 non-null     float64
 6   Latitude             1636 non-null   float64
 7   Longitude            1636 non-null   float64
 8   Name                 1636 non-null   object
 9   PersonnelInvolved    204 non-null    float64
 10  Started              1636 non-null   object
 11  StructuresDamaged    67 non-null     float64
 12  StructuresDestroyed  175 non-null    float64
 13  UniqueId             1636 non-null   object
dtypes: float64(8), int64(1), object(5)
memory usage: 179.1+ KB

In [5]:
#Drop duplicates based on UniqueID
wildfire_df.drop_duplicates("UniqueId", inplace = True)
wildfire_df.head()

,AcresBurned,ArchiveYear,Counties,CountyIds,CrewsInvolved,Fatalities,Latitude,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,UniqueId
0,257314.0,2013,Tuolumne,55,NaN,NaN,37.857000,-120.086000,Rim Fire,NaN,2013-08-17T15:25:00Z,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78
1,30274.0,2013,Los Angeles,19,NaN,NaN,34.585595,-118.423176,Powerhouse Fire,NaN,2013-05-30T15:28:00Z,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87
2,27531.0,2013,Riverside,33,NaN,NaN,33.709500,-116.728850,Mountain Fire,NaN,2013-07-15T13:43:00Z,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db
3,27440.0,2013,Placer,31,NaN,NaN,39.120000,-120.650000,American Fire,NaN,2013-08-10T16:30:00Z,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625
4,24251.0,2013,Ventura,56,47.0,NaN,0.000000,0.000000,Springs Fire,2167.0,2013-05-02T07:01:00Z,6.0,10.0,46731fb8-3350-4920-bdf7-910ac0eb715c

In [6]:
#Check for null data
wildfire_df.count()

AcresBurned            1606
ArchiveYear            1609
Counties               1609
CountyIds              1609
CrewsInvolved           165
Fatalities               13
Latitude               1609
Longitude              1609
Name                   1609
PersonnelInvolved       197
Started                1609
StructuresDamaged        60
StructuresDestroyed     158
UniqueId               1609
dtype: int64

In [7]:
#Drop null data from AcresBurned
wildfire_df = wildfire_df.dropna(subset = ['AcresBurned'])
wildfire_df.head()

,AcresBurned,ArchiveYear,Counties,CountyIds,CrewsInvolved,Fatalities,Latitude,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,UniqueId
0,257314.0,2013,Tuolumne,55,NaN,NaN,37.857000,-120.086000,Rim Fire,NaN,2013-08-17T15:25:00Z,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78
1,30274.0,2013,Los Angeles,19,NaN,NaN,34.585595,-118.423176,Powerhouse Fire,NaN,2013-05-30T15:28:00Z,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87
2,27531.0,2013,Riverside,33,NaN,NaN,33.709500,-116.728850,Mountain Fire,NaN,2013-07-15T13:43:00Z,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db
3,27440.0,2013,Placer,31,NaN,NaN,39.120000,-120.650000,American Fire,NaN,2013-08-10T16:30:00Z,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625
4,24251.0,2013,Ventura,56,47.0,NaN,0.000000,0.000000,Springs Fire,2167.0,2013-05-02T07:01:00Z,6.0,10.0,46731fb8-3350-4920-bdf7-910ac0eb715c

In [8]:
#Check for null data
wildfire_df.count()

AcresBurned            1606
ArchiveYear            1606
Counties               1606
CountyIds              1606
CrewsInvolved           165
Fatalities               13
Latitude               1606
Longitude              1606
Name                   1606
PersonnelInvolved       197
Started                1606
StructuresDamaged        60
StructuresDestroyed     158
UniqueId               1606
dtype: int64

### Import & Merge County Data

In [9]:
#Import multiple CSV files into 1 dataframe
path= os.path.join("Resources", "CountyWeather")
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    #Add a new column that recognizes the name of the CSV file
    df['COUNTY'] = os.path.basename(filename)
    li.append(df)

county_df = pd.concat(li, axis=0, ignore_index=True)
county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,COUNTY,AWND,AWND_ATTRIBUTES
0,USR0000CBOG,"BOGARD RANGER STATION CALIFORNIA, CA US",40.5981,-121.0831,1722.1,2013-01,NaN,NaN,21.6,",U",41.1,",,,U",2.2,",,,U",LASSEN_COUNTY.csv,NaN,NaN
1,USR0000CBOG,"BOGARD RANGER STATION CALIFORNIA, CA US",40.5981,-121.0831,1722.1,2013-02,NaN,NaN,28.6,",U",47.7,",,,U",9.4,",,,U",LASSEN_COUNTY.csv,NaN,NaN
2,USR0000CBOG,"BOGARD RANGER STATION CALIFORNIA, CA US",40.5981,-121.0831,1722.1,2013-03,NaN,NaN,37.4,",U",53.1,",,,U",21.7,",,,U",LASSEN_COUNTY.csv,NaN,NaN
3,USR0000CBOG,"BOGARD RANGER STATION CALIFORNIA, CA US",40.5981,-121.0831,1722.1,2013-04,NaN,NaN,43.0,",U",59.1,",,,U",26.8,",,,U",LASSEN_COUNTY.csv,NaN,NaN
4,USR0000CBOG,"BOGARD RANGER STATION CALIFORNIA, CA US",40.5981,-121.0831,1722.1,2013-05,NaN,NaN,48.5,",U",66.1,",,,U",31.0,",,,U",LASSEN_COUNTY.csv,NaN,NaN

In [10]:
#Drop excess columns
county_df = county_df.drop(['ELEVATION','PRCP_ATTRIBUTES','TAVG_ATTRIBUTES','TMAX_ATTRIBUTES',
                            'TMIN_ATTRIBUTES','AWND_ATTRIBUTES'],1)
county_df.tail()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,COUNTY,AWND
78158,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2012-12,8.21,NaN,NaN,NaN,Alameda.csv,NaN
78159,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-01,0.38,NaN,NaN,NaN,Alameda.csv,NaN
78160,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-02,0.50,NaN,NaN,NaN,Alameda.csv,NaN
78161,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-03,0.92,NaN,NaN,NaN,Alameda.csv,NaN
78162,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-04,1.39,NaN,NaN,NaN,Alameda.csv,NaN

In [11]:
#Confirm datatypes for each column
county_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78163 entries, 0 to 78162
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    78163 non-null  object
 1   NAME       78163 non-null  object
 2   LATITUDE   78163 non-null  float64
 3   LONGITUDE  78163 non-null  float64
 4   DATE       78163 non-null  object
 5   PRCP       59293 non-null  float64
 6   TAVG       43168 non-null  float64
 7   TMAX       43802 non-null  float64
 8   TMIN       43692 non-null  float64
 9   COUNTY     78163 non-null  object
 10  AWND       6557 non-null   float64
dtypes: float64(7), object(4)
memory usage: 6.6+ MB

In [12]:
#Check for null data
county_df.count()

STATION      78163
NAME         78163
LATITUDE     78163
LONGITUDE    78163
DATE         78163
PRCP         59293
TAVG         43168
TMAX         43802
TMIN         43692
COUNTY       78163
AWND          6557
dtype: int64

# Drop the .csv from the County column

### Drop unneeded data
AWND, TAVG & TMIN

In [13]:
#Drop columns
county_df = county_df.drop(['AWND','TAVG','TMIN',],1)
# county_df.tail()
county_df.count()

STATION      78163
NAME         78163
LATITUDE     78163
LONGITUDE    78163
DATE         78163
PRCP         59293
TMAX         43802
COUNTY       78163
dtype: int64

In [16]:
#Drop null data from PRCP
county_df = county_df.dropna(subset = ['PRCP'])
county_df.count()

STATION      25199
NAME         25199
LATITUDE     25199
LONGITUDE    25199
DATE         25199
PRCP         25199
TMAX         25199
COUNTY       25199
dtype: int64

## Calculate average for missing data

### Calculate PRCP averages

In [ ]:
#Alt option
#Split NaNs into separate DF (keep index), then do .loc on COUNTY to replace prcp with the average
#Then merge back

In [ ]:
## Run mode at county level, then assign mode to NAN within that county
#Apply to PRCP & TMAX
# Set Nan to 0, then groupby COUNTY, fillforward

In [ ]:
#Calculate the average precipitation by county
# avg_df = county_df.groupby('COUNTY')['PRCP'].mean()

In [ ]:
#Reassign NAs with the average precipation by county
# county_df.groupby('COUNTY')['PRCP'].fillna(county_df.groupby('COUNTY')['PRCP'].mean())

#Try doing it with iloc instead of groupby, then do fillna
# Turn above cell into DF, then join
#Locate Sutter.csv in COUNTY column and set it equal to the avg prcp value


# county_df.loc[county_df.COUNTY.isin(avg_df)]
##Will this replace everything or just the NaNs?

In [ ]:
# county_df['PRCP']

In [ ]:
# county_df.head()

### Calculate TMAX averages

### Calculate monthly precipitation

## This won't work yet because the index has different # of records than the sum

In [ ]:
#Calculate monthly precipitation (sum all stations per county)
# test_df['monthly_prcp'] = county_df.groupby(['COUNTY','DATE'])['PRCP'].sum()
# test_df

In [ ]:
#Option 2
# county_df.assign(monthly_prcp=county_df.COUNTY.map(county_df.groupby(['COUNTY','DATE'])['PRCP'].sum()))

In [ ]:
# #Drop all columns except COUNTY, date, prcp
# county_df_prcp = county_df_prcp.drop(['LATITUDE','LONGITUDE','TAVG','TMAX',
#                             'TMIN','AWND'],1)
# county_df_prcp = county_df_prcp.rename(columns={'PRCP': 'MONTHLY_PRCP'})
# county_df_prcp.tail()a

In [ ]:
#Add monthly precipitation to county_df
# test_df = pd.merge(county_df, county_df_prcp,how='left', 
#                    left_on=['COUNTY','COUNTY'], right_on = ['DATE','DATE'])
# test_df.tail()

# Change wildfire data to by year, month, year-month; pull out time into separate column
# Export CSVs so everyone has the same data